@font-face {
  font-family: "Kalnia-Thin";
  src: url("./Kalnia-Thin.woff2") format("woff2"),
    url("./Kalnia-Thin.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.hello {
  color: red;
  font-family: "Kalnia-Thin";
  background: url("./icon.png");
}
